<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windbird">
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    
    <application
        android:allowBackup="true"
        android:label="Winter Games"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        
        <!-- Écran principal - Configuration des joueurs -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Menu des épreuves -->
        <activity android:name=".EventsMenuActivity" 
            android:screenOrientation="landscape" />
            
        <!-- Tableau des scores -->
        <activity android:name=".ScoreboardActivity" 
            android:screenOrientation="landscape" />
        
        <!-- ÉPREUVES -->
        <activity android:name=".BiathlonActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".SkiJumpActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".BobsleighActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".SpeedSkatingActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".SlalomActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".SnowboardActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".FreestyleActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".LugeActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".CurlingActivity" 
            android:screenOrientation="landscape" />
        <activity android:name=".HockeyActivity" 
            android:screenOrientation="landscape" />
        
    </application>
</manifest>
